<div class="container  px-5 py-5" style="background-color: #737171; ">
  <div class="row" style="margin: 0px -7.5px;">
    <div class="col-md-1-12 col-sm-12  offset-0" style="padding: 0px 7.5px;">
      <div class="cover-search-type">
        <div class="display-table height-40-px">
          <div class="display-table-cell">
            <ul class="nav nav-tabs">
              <li class="nav-item active">
                <a href="#"> ค้นหาสินค้า </a></li> &nbsp;
              <li class="nav-item">
                <a> ค้นหาศูนย์บริการ </a></li>
              </ul>
            </div>

          <div class="row">
            <div class="col-6 col-sm-3">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  สินค้าทั้งหมด
                </label>
              </div>
            </div>
            <div class="col-6 col-sm-3">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
              <label class="form-check-label" for="flexRadioDefault1">
                ศูนย์บริการ
              </label>
            </div>
          </div>
          </div>
      </div>

      <div class="row">
        <div class="col mx-1">
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style=" padding: 0 0.75px; height: 50px">
              ยี่ห้อรถ
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">AUDI</a>
              <a class="dropdown-item" href="#">BMW</a>
              <a class="dropdown-item" href="#">CHEVROLET</a>
              <a class="dropdown-item" href="#">FORD</a>
              <a class="dropdown-item" href="#">HONDA</a>
              <a class="dropdown-item" href="#">HYUNDAI</a>
              <a class="dropdown-item" href="#">KIA</a>
              <a class="dropdown-item" href="#">MAZDA</a>
              <a class="dropdown-item" href="#">MARCEDES-BENZ</a>
              <a class="dropdown-item" href="#">MINI</a>
              <a class="dropdown-item" href="#">MITSUBISHI</a>
              <a class="dropdown-item" href="#">NISSAN</a>
              <a class="dropdown-item" href="#">PEUGEOT</a>
              <a class="dropdown-item" href="#">PROTON</a>
              <a class="dropdown-item" href="#">SABARU</a>
              <a class="dropdown-item" href="#">SUZUKI</a>
              <a class="dropdown-item" href="#">TATA</a>
              <a class="dropdown-item" href="#">TOYOTA</a>
              <a class="dropdown-item" href="#">VOLKSWAGEN</a>
              <a class="dropdown-item" href="#">VOLVO</a>
            </div>
          </div>

        </div>
        <div class="col mx-1">
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="height: 50px;padding: 0 0.75px;">
              รุ่นรถ
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">S60</a>
              <a class="dropdown-item" href="#">V60</a>
              <a class="dropdown-item" href="#">XC60</a>
            </div>
          </div>
        </div>
        <div class="col mx-1">
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style=" height: 50px;padding: 0 0.75px;">
              รุ่นย่อย
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">D5 2.5</a>
              <a class="dropdown-item" href="#">T5</a>
              <a class="dropdown-item" href="#">T5 Recharge(P-HEV)</a>
            </div>
          </div>
        </div>
        <div class="col mx-1">
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButtonภ" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style=" height: 50px;padding: 0 0.75px;">
              ปีรถ
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">2019</a>
              <a class="dropdown-item" href="#">2020</a>
              <a class="dropdown-item" href="#">2021</a>
            </div>
          </div>
        </div>
        <div class="col mx-1">
          <button type="button" class="btn btn-search" style="height: 50px; background: #feff00 ">ค้นหา</button>
        </div>
      </div>

    </div>
  </div>
</div>





<!--<div class="container">
  <div class="row">
    <div class="col">
    <img src="https://cockpit-images.s3.ap-southeast-1.amazonaws.com/2021-03-11/1615455796-1614935385-1930x310-03.webp?fbclid=IwAR0olHlWQ2QmNWdK6OG9G8OOaYnw9A4PwymWuDgUgsOQPwyTR9QxqmOLr2A">
    </div>
  </div>
</div>

<img src="https://cockpit-images.s3.ap-southeast-1.amazonaws.com/2021-03-11/1615455796-1614935385-1930x310-03.webp?fbclid=IwAR0olHlWQ2QmNWdK6OG9G8OOaYnw9A4PwymWuDgUgsOQPwyTR9QxqmOLr2A">
-->
