<div class="container" style="display: block; padding-top: 40px;">
    <div class="row">
      <div class="col">

      </div>
      <div class="col-6" style="text-align: center; font-size: 38px; line-height: 1.5;font-weight: 500; color: black">
        <a href="#" style="color: black">
          <p>กินเที่ยวครบคุ้ม</p>
        </a>
      </div>
      <div class="col" style="text-align: right; font-size: 18px; color: #909090; background-color: transparent; box-sizing: border-box ">
        <a href="#" style="color: #909090">
          ดูทั้งหมด
        </a>
      </div>
    </div>
    <div class="row" style="min-height: 480px; height: 100%; box-sizing: border-box; letter-spacing: normal; padding-top: 30px">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
       <a href="#">
         <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/kQs4kRk/1615476048-R3-A1643.jpg" alt="shopadvices" border="0">
            <div class="card-body">
              <p class="card-text">4 ร้าน 4 ความสนใจ ชวนมาพบกับคนที่ชอบอะไรเหมือนๆ กัน</p>
            </div>
        </div>
       </a>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <a href="#">
          <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/7Ch5Z1w/1615454895-1614849312-672x448-RE.webp" alt="ืnonthaburi" border="0">
            <div class="card-body">
              <p class="card-text">มีนาแล้ว เราก็มีคาเฟ่ชิคๆคูลๆ ย่านนนทบุรีมาแนะนำกันค่ะ</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <a href="#">
            <div class="card" style="width: 18rem;">
              <img src="https://i.ibb.co/b2XZHjD/1615454928-1614273845-web-thumbnail-672x448-RE.webp" alt="cafe" border="0">
              <div class="card-body">
                <p class="card-text">A Day in Kor Kret นั่งชิลล์รับลมกับ 4 ร้านอร่อยเจ้าดังในเกาะเกร็ด</p>
              </div>
            </div>
        </a>
      </div>
    </div>
</div>
