
<app-header></app-header>
<app-body></app-body>
<app-cards></app-cards>
<br><br><br>

<div class="text-center">
  <button type="button" class="btn btn-link" style="color: #909090; border: 1px solid #909090; padding: 9px 15px" >
    <a>+ ดูเพิ่มเติม</a>
  </button>
</div>

<app-card2></app-card2>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
