<!-- <div class="container" >

    <div class="row" style="display: flex ; justify-content: center">
      <div class="col-12 col-sm-6 " >
        <div class="card" style="width: 50%; position: absolute; top: 25%; bottom: 50%; border: 1px solid #c3c3c3;">
          <img class="card-img-top" src="https://cockpit-images.s3.ap-southeast-1.amazonaws.com/2021-03-11/1615456523-1612106917--BS-4--.webp" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">ฟรี! ประกันภัยไวรัสโคโรน่า</p>
            <p class="card-text">เมื่อเปลี่ยนยางบริดจสโตน</p>
            <a href="#" class="btn btn-primary">เพิ่มเติม</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="card" style="width: 50%; position: absolute; top: 25%; bottom: 50%">
          <img class="card-img-top" src="https://cockpit-images.s3.ap-southeast-1.amazonaws.com/2021-03-11/1615456511-1614522308-1.1377X1215PX-Mar21-BS-DISCOUNT-1000.webp" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">ลดสูงสุด 1000</p>
            <p class="card-text">เมื่อเปลี่ยนยางบริดจสโตน</p>
            <a href="#" class="btn btn-primary">เพิ่มเติม</a>
          </div>
        </div>
      </div>
    </div>


</div> -->
<div class="container">
  <div class="justify-content-center">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img class="card-img-top" src="https://cockpit-images.s3.ap-southeast-1.amazonaws.com/2021-03-11/1615456523-1612106917--BS-4--.webp" alt="Card image cap">
            <h5 class="card-title">ฟรี! ประกันภัยไวรัสโคโรน่า</h5>
            <p class="card-text">เมื่อเปลี่ยนยางบริดจสโตน</p>
            <a href="#" class="btn btn-warning">เพิ่มเติม</a>
          </div>

        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"><div class="card" style="width: 18rem;">
        <div class="card-body">
          <img class="card-img-top" src="https://cockpit-images.s3.ap-southeast-1.amazonaws.com/2021-03-11/1615456511-1614522308-1.1377X1215PX-Mar21-BS-DISCOUNT-1000.webp">
          <h3 class="card-title">ลดสูงสุด 1000</h3>
          <p class="card-text">เมื่อเปลี่ยนยางบริดจสโตน</p>
          <a href="#" class="btn btn-warning">เพิ่มเติม</a>
        </div>
      </div></div>
    </div>
    <div class="row" style="padding-top: 16px">
      <div class="col-sm-12 col-12 col-md-4 col-lg-4 col-xl-4"><div class="card" style="width: 18rem;">
        <div class="card-body">
          <img src="https://i.ibb.co/KLqzg8t/Screen-Shot-2564-03-18-at-12-42-36.png" alt="Screen-Shot-2564-03-18-at-12-42-36" border="0">
          <h3 class="card-title">ยาง 3 แถม ๆ</h3>
          <p class="card-text">เมื่อซี้อยาง Dayton ทุกรุ่นทุกขนาด</p>
          <a href="#" class="btn btn-warning">เพิ่มเติม</a>
        </div>
      </div></div>
      <div class="col-sm-12 col-12 col-md-4 col-lg-4 col-xl-4"><div class="card" style="width: 18rem;">
        <div class="card-body">
          <img src="https://i.ibb.co/QcYsm3X/Screen-Shot-2564-03-18-at-12-43-01.png" alt="Screen-Shot-2564-03-18-at-12-43-01" border="0">
          <h3 class="card-title">ฟรี! พ่นยับยั้งไวรัส</h3>
          <p class="card-text">สำหรับรถทุกรุ่น</p>
          <a href="#" class="btn btn-warning">เพิ่มเติม</a>
        </div>
      </div></div>
      <div class="col-sm-12 col-12 col-md-4 col-lg-4 col-xl-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img src="https://i.ibb.co/gm5ppq0/Screen-Shot-2564-03-18-at-12-43-29.png" alt="Screen-Shot-2564-03-18-at-12-43-29" border="0">
            <h3 class="card-title">ลด 10% ทุกยี่ห้อ</h3>
            <p class="card-text">แบตเตอรี่ เบรก โช้คอัพ</p>
            <a href="#" class="btn btn-warning">เพิ่มเติม</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


